.movies-list {
    padding: 80px 0 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 32px 28px;
}

.movies__alert {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    line-height: 35px;
}

@media screen and (max-width: 768px) {
    .movies-list {
        grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
        row-gap: 35px;
        column-gap: 24px;
        padding: 70px 0 50px;
    }

    .movies__alert {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
        line-height: calc(22px + (28 - 22) * ((100vw - 320px) / (768 - 320)));
    }
}

@media screen and (max-width: 400px) {
    .movies-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 16px;
        padding: 50px 0 30px;
    }
}
